<?xml version="1.0" encoding="UTF-8"?>
<importconfig>
	<scenario>DF_ImportazioneDoc_Importazione#Documenti</scenario>
	<settings>
		<add key="percorsoxml" value="D:\iDOK_Out\xml\BreCEA\"/>
		<add key="percorsopdf" value="D:\iDOK_Out\xml\BreCEA\"/>
		<add key="tipologieprelievo" value="'CFV','DRD','DXF','OFA','OFC','OFG','OFR','OFW'"/>
		<add key="policy" value="FIFO"/>
		<!-- LIFO/FIFO -->
		<add key="field" value="DATACONSEGNA"/>
		<!-- DATA CONSEGNA/DATA ORDINE -->
		<add key="residuiordine" value="CREARIGA"/>
		<!-- ACCUMULA/CREARIGA -->
		<add key="chiudinonsaturati" value="FALSE"/>
		<!-- TRUE/FALSE -->
		<add key="tipodocumentogenerato" value="BCF"/>
		<!-- NOTHING/MOVE/DELETE -->
		<add key="postaction" value="NOTHING"/>
		<add key="postactionpath" value="M:\Docflow\Doc processati"/>
	</settings>
</importconfig>
