<?xml version="1.0" encoding="UTF-8"?>
<importconfig>
	<settings>
		<add key="percorsoxml" value="C:\Documenti\Ddt\"/>
		<add key="tipologieprelievo" value="'ORF'"/>
		<add key="policy" value="FIFO"/>
		<!-- LIFO/FIFO -->
		<add key="field" value="DATADOC"/>
		<!-- DATA CONSEGNA/DATA ORDINE -->
		<add key="residuiordine" value="CREARIGA"/>
		<!-- ACCUMULA/CREARIGA -->
		<add key="chiudinonsaturati" value="FALSE"/>
		<!-- TRUE/FALSE -->
		<add key="tipodocumentogenerato" value="DAF"/>
		<!-- NOTHING/MOVE/DELETE -->
		<add key="postaction" value="NOTHING"/>
		<add key="postactionpath" value=""/>
	</settings>
</importconfig>
