<?xml version="1.0" encoding="UTF-8"?>
<importconfig>
	<scenario>DF_ImportazioneFEPA_Importazione#Documenti#FEPA</scenario>
	<settings>
		<add key="percorsoxml" value=""/>
		<add key="tipologieprelievo" value=""/>
		<add key="policy" value="FIFO"/>
		<!-- LIFO/FIFO -->
		<add key="field" value="DATACONSEGNA"/>
		<!-- DATA CONSEGNA/DATA ORDINE -->
		<add key="residuiordine" value="CREARIGA"/>
		<!-- ACCUMULA/CREARIGA -->
		<add key="chiudinonsaturati" value="FALSE"/>
		<!-- TRUE/FALSE -->
		<add key="tipodocumentogenerato" value=""/>
		<!-- NOTHING/MOVE/DELETE -->
		<add key="postaction" value="NOTHING"/>
		<add key="postactionpath" value=""/>
		<add key="stampadocumento" value="0"/>
	</settings>
</importconfig>
