
	IF EXISTS(SELECT 1 FROM SysObjects WHERE ID=object_id('GR_FUNUBICAZDEFAULT') AND Type='FN')
		DROP FUNCTION GR_FUNUBICAZDEFAULT
	GO

CREATE FUNCTION GR_FUNUBICAZDEFAULT
(
	@CODART VARCHAR(80),
	@CODDEPOSITO VARCHAR(10)
)
RETURNS VARCHAR(10)
AS
BEGIN
	-- Declare the return variable here
	DECLARE @UBICAZIONE AS VARCHAR(10)

	-- Add the T-SQL statements to compute the return value here
	SELECT TOP 1 @UBICAZIONE=CODUBICAZIONE
	FROM UBICAZIONIARTICOLI
	WHERE CODICEART=@CODART
	AND CODDEPOSITO=@CODDEPOSITO
	ORDER BY NRRIGA

	-- Return the result of the function
	RETURN @UBICAZIONE

END
GO

GRANT EXECUTE ON GR_FUNUBICAZDEFAULT TO METODO98
GO
