/*PROCEDURA DI IMPORT ORDINI DI PRODUZIONE*/
USE [BREVCEA]
GO

--upsizing da Access a SQL2005

/*CREAZIONE TABELLE TEMPORANEE AS400 PER NORMALIZZAZIONE DATI*/
DROP TABLE [dbo].[AS400_RIGHEORDPROD_NORM]
GO

CREATE TABLE [dbo].[AS400_RIGHEORDPROD_NORM](
	[TIPORECORD] [varchar](1) NOT NULL,
	[DataUltManut] [datetime] NOT NULL,
	[NUMORD] [decimal](10,0) NOT NULL,
	[CODART] [varchar](50) NULL,
	[MAG] [varchar](10) NULL,
	[DATASCAD] [datetime] NULL,
	[DATAINIZIO] [datetime] NULL,
	[DATAIMMISSIONE] [datetime] NULL,
	[QTAORD] [decimal](16, 6) NOT NULL DEFAULT ((0)),
	[QTAENTRATA] [decimal](16, 6) NOT NULL DEFAULT ((0)),
	[RifCommCli] [varchar](30) NULL,
	[RifOrdProd] [varchar](30) NULL,
	[CLIENTE] [varchar](10) NULL,
	[DATAULTMOV] [datetime] NULL,
	[FLAGSTAMPATO] [varchar](1) NOT NULL,
 CONSTRAINT [PK_AS400_RIGHEORDPROD_NORM] PRIMARY KEY CLUSTERED 
(
	[NUMORD] ASC
) ON [PRIMARY]
) ON [PRIMARY]
GO

-- POPOLAZIONE TABELLA
SET DATEFORMAT DMY
INSERT INTO [dbo].[AS400_RIGHEORDPROD_NORM]
SELECT TIREPO, CAST((CASE WHEN DTMNPO = 0 THEN '01/01/1900' ELSE  RIGHT(DTMNPO,2)+'/'+SUBSTRING(CAST(DTMNPO AS VARCHAR(10)),5,2)+'/'+LEFT(DTMNPO,4) END) AS DATETIME), 
ORPRPO, CDARPO, CDMGPO,
CAST((CASE WHEN DTSCPO = 0 THEN '01/01/1900' ELSE RIGHT(DTSCPO,2)+'/'+SUBSTRING(CAST(DTSCPO AS VARCHAR(10)),5,2)+'/'+LEFT(DTSCPO,4) END) AS DATETIME), 
CAST((CASE WHEN DTIPPO = 0 THEN '01/01/1900' ELSE  RIGHT(DTIPPO,2)+'/'+SUBSTRING(CAST(DTIPPO AS VARCHAR(10)),5,2)+'/'+LEFT(DTIPPO,4) END) AS DATETIME),
CAST((CASE WHEN DTIMPO = 0 THEN '01/01/1900' ELSE RIGHT(DTIMPO,2)+'/'+SUBSTRING(CAST(DTIMPO AS VARCHAR(10)),5,2)+'/'+LEFT(DTIMPO,4) END) AS DATETIME), QORDPO, QENTPO,CMSAPO, RIFEPO, CLIEPO, 
CAST((CASE WHEN DTUMPO = 0 THEN '01/01/1900' ELSE RIGHT(DTUMPO,2)+'/'+SUBSTRING(CAST(DTUMPO AS VARCHAR(10)),5,2)+'/'+LEFT(DTUMPO,4) END) AS DATETIME), STAMPO
FROM AS400_RIGHEORDPROD
GO

DROP TABLE [dbo].[AS400_IMPEGNIORDPROD_NORM]
GO

CREATE TABLE [dbo].[AS400_IMPEGNIORDPROD_NORM](
	[TIPORECORD] [varchar](1) NOT NULL,
	[DATAEMISSIONE] [datetime] NOT NULL,
	[DATAULTMANUT] [datetime] NOT NULL,
	[NUMORD] [decimal](10,0) NOT NULL,
	[NUMIMP] [decimal](10,0) NOT NULL,
	[CODART] [varchar](50) NULL,
	[MAG] [varchar](10) NULL,
	[DATASCAD] [datetime] NULL,
	[QTAIMP] [decimal](16, 6) NOT NULL DEFAULT ((0)),
	[QTAPRELEVATA] [decimal](16, 6) NOT NULL DEFAULT ((0)),
	[RifCommCli] [varchar](30) NULL,
	[DATAULTMOV] [datetime] NULL,
	[FLAGSTAMPATO] [varchar](1) NOT NULL,
	[SEQUENZA] [varchar](5) NOT NULL,
) ON [PRIMARY]
GO

-- POPOLAZIONE TABELLA
SET DATEFORMAT DMY
INSERT INTO [dbo].[AS400_IMPEGNIORDPROD_NORM]
SELECT TIREPI, CAST((CASE WHEN DT01PI = 0 THEN '01/01/1900' ELSE  RIGHT(DT01PI,2)+'/'+SUBSTRING(CAST(DT01PI AS VARCHAR(10)),5,2)+'/'+LEFT(DT01PI,4) END) AS DATETIME),
CAST((CASE WHEN DTMNPI = 0 THEN '01/01/1900' ELSE  RIGHT(DTMNPI,2)+'/'+SUBSTRING(CAST(DTMNPI AS VARCHAR(10)),5,2)+'/'+LEFT(DTMNPI,4) END) AS DATETIME),
(CASE WHEN ORPRPI= '' OR ISNUMERIC(ORPRPI)=0 THEN 0 ELSE ORPRPI END), 
row_number() over (PARTITION by ORPRPI ORDER BY ORPRPI),
CDARPI, CDMGPI,
CAST((CASE WHEN DTSCPI = 0 THEN '01/01/1900' ELSE  RIGHT(DTSCPI,2)+'/'+SUBSTRING(CAST(DTSCPI AS VARCHAR(10)),5,2)+'/'+LEFT(DTSCPI,4) END) AS DATETIME),
QIMPPI, QPREPI, CMSAPI, 
CAST((CASE WHEN DTUMPI = 0 THEN '01/01/1900' ELSE  RIGHT(DTUMPI,2)+'/'+SUBSTRING(CAST(DTUMPI AS VARCHAR(10)),5,2)+'/'+LEFT(DTUMPI,4) END) AS DATETIME),
STAMPI,
SEQUPI

FROM AS400_IMPEGNIORDPROD

GO

/*PROCEDURA DI INSERIMENTO ORDINI DI PRODUZIONE IN METODO DA TABELLE AS400 PRECEDENTEMENTE IMPORTATE*/

-- CURSORE SU RIGHEORD PROD APERTE E CON COMMESSA
--AD OGNI CAMBIO RIFCOM CLI SI INSERISCE UNA NUOVA TESTA ECC...

--VARIABILI LOCALI
DECLARE @CODARTORD AS CVARCHAR(80)
DECLARE @MAGORD AS VARCHAR(10)


DECLARE @DATAINIZIOORD AS DATETIME
DECLARE @DATASCAD AS DATETIME
DECLARE @DATAIMMISSIONE AS DATETIME
DECLARE @DDATAULTMANUT AS DATETIME
DECLARE @QTAORD AS DECIMAL(19,6)
DECLARE @QTAENTRATA AS DECIMAL (19,6)
DECLARE @RIFCOMMCLI AS VARCHAR (20)
DECLARE @RIFCOMMCLIPREC AS VARCHAR (20)

DECLARE @RIDORDPROD AS VARCHAR (50)
DECLARE @DATAULTMOV AS DATETIME
DECLARE @FLAGSTAMPATO AS VARCHAR (1)

DECLARE @PROGRESSIVO AS DECIMAL(10,0)





DECLARE CRS_ORDINI CURSOR FOR	SELECT CODART, MAG, DATAULTMANUT, DATAINIZIO, DATASCAD, DATAIMMISSIONE, QTAORD, QTAENTRATA, RIFCOMMCLI, RIFORDPROD, DATAULTMOV, FLAGSTAMPATO 
								FROM AS400_RIGHEORDPROD_NORM
								WHERE TIPORECORD <> 'S' AND  RIFCOMMCLI <> ''

open CRS_ORDINI -- Apertura cursore, alloco e carico il cursore
FETCH NEXT FROM CRS_ORDINI INTO @CODARTOR, @MAGORD, @DDATAULTMANUT, @DATAINIZIOORD, @DATASCAD, @DATAIMMISSIONE, @QTAORD, @QTAENTRATA, @RIFCOMMCLI, @RIDORDPROD, @DATAULTMOV, @FLAGSTAMPATO    --METTO IL VALORE DELLA PRIAM RIGA DEL CURSORE NELLA VARIABILE @NOMETABELLA
	SET @RIFCOMMCLIPREC=@RIFCOMCLI
	WHILE @@FETCH_STATUS=0
		BEGIN
			IF @RIFCOMMCLIPREC<>@RIFCOMMCLI
				BEGIN
					--INSERISCO NUOVA TESTA COMMESSA
					--Incremento il contatore
					declare @numerocomm decimal(10,0)
					select @numerocomm = max(progr) from tabcontatori where esercizio = 2009 and codice = @contlista --contatore lco 
			
					exec incrementacontatore @contlista, @esercizioatt, 'consuntividawpi', 1, @numerolista output
					select @numerolista
						
								--Calcolo un nuovo progressivo		
								exec nuovoprogressivo 'testelistacons', -1, @progressivo output
								select @progressivo




					EXEC NUOVOPROGRESSIVO
					EXEC INCREMENTACONTATORE
					SELECT @PROGRESSIVO





					--ACCODO SU COMMESSA CREATA
					INSERT INTO RIGHEORDPROD 
					SELECT @PROGRESSIVO,
					FROM RIGHEORDINIPROD

					


				END 
			ELSE
				BEGIN
					--ACCODO SU COMMESSA PRECEDENTE
					--INSERT INTO RIGHEORDPROD 
					--SELECT @PROGRESSIVO,
					--FROM RIGHEORDINIPROD

				END
			


		

			SET @RIFCOMMCLIPREC=@RIFCOMCLI
			FETCH NEXT FROM CRS_ORDINI INTO @CODARTOR, @MAGORD, @DDATAULTMANUT, @DATAINIZIOORD, @DATASCAD, @DATAIMMISSIONE, @QTAORD, @QTAENTRATA, @RIFCOMMCLI, @RIDORDPROD, @DATAULTMOV, @FLAGSTAMPATO    --METTO IL VALORE DELLA PRIAM RIGA DEL CURSORE NELLA VARIABILE @NOMETABELLA
		END


close CRS_ORDINI 
deallocate CRS_ORDINI 

