----------------------------------------------
-- Aggiunte del 31/12/2009 - RGabriele      --
----------------------------------------------------
-- Funzioni per stampe valorizzazioni rettifiche  --
----------------------------------------------------

/*FUNZIONE PER VALORIZZAZIONE ARTICOLO*/
IF EXISTS(SELECT 1 FROM SysObjects WHERE ID=object_id('BCEA_VALARTICOLO') AND Type='FN')
	DROP FUNCTION BCEA_VALARTICOLO
GO

CREATE FUNCTION [dbo].[BCEA_VALARTICOLO](@CODART AS nVARCHAR(50), @TIPOVAL AS INT, @NRLISTINO AS INT, @TIPOUM AS INT, @ESERCIZIO AS INT)
	RETURNS DECIMAL(19,6) 
AS
	BEGIN
		DECLARE @VALART AS DECIMAL(19,6)
		DECLARE @PREZZO AS DECIMAL(19,4)
		DECLARE @UM AS VARCHAR(3)

		IF @TIPOUM=0
			BEGIN
				SET @TIPOUM=1
			END
		ELSE
			BEGIN
				SET @TIPOUM=2
			END

		IF @TIPOVAL=0 --UPA
			BEGIN
				-- DETERMINO L'UM PER LA QUALE VALORIZZARE
				DECLARE CUR_UM CURSOR SCROLL SCROLL_LOCKS FOR	
				SELECT UM FROM ARTICOLIUMPREFERITE WHERE TIPOUM=@TIPOUM AND CODART=@CODART
				OPEN CUR_UM
					FETCH NEXT FROM CUR_UM INTO @UM
				CLOSE CUR_UM
				DEALLOCATE CUR_UM

				-- DETERMINO IL COSTO ULTIMO
				DECLARE CUR_STORICO_PREZZI CURSOR SCROLL SCROLL_LOCKS FOR
					SELECT TOP 1 ROUND((PRZ.PREZZOEURO*FC.FATTORE),4) AS PREZZO
					FROM STORICOPREZZIARTICOLO PRZ LEFT OUTER JOIN ARTICOLIFATTORICONVERSIONE FC
						ON FC.CODART=PRZ.CODARTICOLO AND FC.UM2=PRZ.UM
					WHERE PRZ.CODARTICOLO=@CODART 
						AND PRZ.TIPOPREZZO = 'F'
						AND PRZ.ULTIMO=1
						AND FC.UM1=@UM
					ORDER BY DATA DESC
				OPEN CUR_STORICO_PREZZI	
					FETCH NEXT FROM CUR_STORICO_PREZZI INTO @VALART
					IF @@FETCH_STATUS<>0 SELECT @VALART = 0

  				CLOSE CUR_STORICO_PREZZI
				DEALLOCATE CUR_STORICO_PREZZI 
			END
		ELSE
			BEGIN
				IF @TIPOVAL=1 --PMP
					BEGIN
						IF @TIPOUM=1 --PRIMA UM
							BEGIN
								SELECT @VALART=(CASE WHEN SUM(QTACARICO)<>0 THEN  ROUND(SUM(VALORECARICOEURO)/SUM(QTACARICO),4) ELSE 0 END)
								FROM VISTAINVENTARIO 
								WHERE ESERCIZIO=@ESERCIZIO AND CODART=@CODART
							END
						ELSE --SECONDA UM
							BEGIN
								SELECT @VALART=(CASE WHEN SUM(QTACARICO2UM)<>0 THEN ROUND(SUM(VALORECARICOEURO)/SUM(QTACARICO2UM),4) ELSE 0 END)
								FROM VISTAINVENTARIO 
								WHERE ESERCIZIO=@ESERCIZIO AND CODART=@CODART
							END
					END
				ELSE --TIPOVAL=2 LISTINO
					BEGIN

						-- DETERMINO L'UM CON CUI VALORIZZARE
						DECLARE CUR_UM CURSOR SCROLL SCROLL_LOCKS FOR	
						SELECT UM FROM ARTICOLIUMPREFERITE WHERE TIPOUM=@TIPOUM AND CODART=@CODART
						OPEN CUR_UM
							FETCH NEXT FROM CUR_UM INTO @UM
						CLOSE CUR_UM
						DEALLOCATE CUR_UM

						-- DETERMINO IL COSTO LISTINO
						SELECT @VALART=ROUND((LST.PREZZOEURO*FC.FATTORE),4)
						FROM LISTINIARTICOLI LST LEFT OUTER JOIN ARTICOLIFATTORICONVERSIONE FC
							ON FC.CODART=LST.CODART AND FC.UM2=LST.UM
						WHERE LST.CODART=@CODART 
							AND LST.NRLISTINO = @NRLISTINO
							AND FC.UM1=@UM
					END

			END

		RETURN @VALART
	END
GO

GRANT EXECUTE ON [dbo].[BCEA_VALARTICOLO] TO METODO98
GO

/*TABELLA TEMPORANEA PER STAMPA RETTIFICHE VALORIZZATE*/
IF NOT EXISTS (SELECT 1 FROM SYSOBJECTS WHERE ID = OBJECT_ID('BCEA_TEMP_STPVALRETTINV') AND TYPE = 'U')
CREATE TABLE [dbo].[BCEA_TEMP_STPVALRETTINV](
	[NRTERMINALE] [smallint] NOT NULL,
	[NOMEIMPOSTAZIONE] [varchar](50) NOT NULL,
	[CRITERIOVAL] INT NOT NULL,
	[NRLISTINO] INT NULL,
	[UMVAL] SMALLINT NULL,
	[ESERCIZIO] SMALLINT NULL,
	[UTENTEMODIFICA] [varchar](25) NOT NULL,
	[DATAMODIFICA] [datetime] NOT NULL,
 CONSTRAINT [PK_BCEA_TEMP_STPVALRETTINV] PRIMARY KEY CLUSTERED 
(
	[NRTERMINALE] ASC
) ON [PRIMARY]
) ON [PRIMARY]

GO

GRANT INSERT, DELETE, UPDATE, SELECT ON [dbo].[BCEA_TEMP_STPVALRETTINV] TO METODO98
GO

/*FUNZIONE PER CALCOLO GIACENZA ARTICOLO*/
IF EXISTS(SELECT 1 FROM SysObjects WHERE ID=object_id('BCEA_GIACARTICOLOUMBASE') AND Type='FN')
	DROP FUNCTION BCEA_GIACARTICOLOUMBASE
GO

CREATE FUNCTION [dbo].[BCEA_GIACARTICOLOUMBASE](@CODART AS nVARCHAR(50),@DEPOSITO AS VARCHAR(10), @DATAINV DATETIME)
	RETURNS DECIMAL(19,6) 
AS
	BEGIN
		DECLARE @VALART AS DECIMAL(19,6)

		SELECT @VALART=isnull(SUM(Carico - Scarico + ResoDaScarico - ResoDaCarico),0)
		FROM VISTAINVENTARIO
		WHERE CODART = @CODART AND CODDEPOSITO= @DEPOSITO AND DATAMOV <= @DATAINV

		RETURN @VALART
	END
GO

GRANT EXECUTE ON [dbo].[BCEA_GIACARTICOLOUMBASE] TO METODO98
GO

------------------------------------------------------
-- Fine aggiunte del 31/12/2009 - RGabriele         --
------------------------------------------------------

