<?xml version="1.0" encoding="UTF-8"?>
<configuration><service><startMode>manual</startMode></service><watchedFolders><folder name="Feedback PAVONI"><inputPath>G:\MetodoEvolus\TDA\Feedbacks\PC</inputPath><dataDestination><connectionString>driver={SQL Server};database=PAVONI;server=ERIK7\MSSQLSERVER08</connectionString><userId>trm200</userId><password>_E&lt;(Z%V$=EP@</password><transactionMode>notransaction</transactionMode></dataDestination></folder></watchedFolders></configuration>
