<?xml version="1.0" encoding="UTF-8"?>
<configuration><service><startMode>automatic</startMode></service><dataSources><dataSource name="BRECEA"><connectionString>driver={SQL Server};database=BRECEA;server=srverp01</connectionString><userId>trm199</userId><password>[NFV7#!EVHSJ</password><isMetodoFirm>yes</isMetodoFirm></dataSource></dataSources><checkEvery>10</checkEvery><scheduleOptions><attivo>0</attivo><occorrenza ID="0"><everynumdays>0</everynumdays></occorrenza><frequence id="0"><attime>00:00:00</attime></frequence><duration><fromdate>00:00:00</fromdate><todate>00:00:00</todate></duration></scheduleOptions></configuration>
