<?xml version="1.0"?>
<wizard title="Configurazione guidata trasformazione file --> XML">
	<step 
		uniqueid="step1" 
		title="Tipologia del file sorgente" 
		text="Impostare il tipo di file sorgente e i parametri necessari per il parsing del contenuto del file." 
		image="wiz01"
		stepobject="MXTdaTrasfPlugins.F2XFileData">		
	</step>
	<step 
		uniqueid="step2" 
		title="Riconoscimento dei campi" 
		text="Il riconoscimento dei campi avverà in modo automatico se il tipo di file è a lunghezza variabile con separatore, altrimenti bisognerà procedere manualmente" 
		image="wiz03"
		stepobject="MXTdaTrasfPlugins.F2XSetupFields">		
	</step>
	<step 
		uniqueid="step3" 
		title="Salvataggio della configurazione" 
		text="Indicare il percorso dove verrà salvato il file di configurazione." 
		image="wiz03"
		stepobject="MXTdaTrasfPlugins.F2XConfigSave">		
	</step>
</wizard>