<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<service>
		<startMode>manual</startMode>
	</service>
	<watchedFolders>
		<folder name="PoketPC Upload">
			<inputPath>C:\Program Files\MetodoXP\TDA\Feedbacks\Syncro</inputPath>
			<outputPath>C:\Documents and Settings\My Documents\Pocket_PC My Documents\Ricez</outputPath>
			<fileFilters></fileFilters>
			<watchType>fileSystemWatcher</watchType>
			<checkEvery>0</checkEvery>
			<copyAction>moveFile</copyAction>
		</folder>
		<folder name="PoketPC Download">
			<inputPath>C:\Documents and Settings\My Documents\Pocket_PC My Documents\Trasf</inputPath>
			<outputPath>C:\Program Files\MetodoXP\TDA\Feedbacks\PocketPC</outputPath>
			<fileFilters>*.ALL</fileFilters>
			<watchType>fileSystemWatcher</watchType>
			<checkEvery>0</checkEvery>
			<copyAction>moveFile</copyAction>
		</folder>
	</watchedFolders>
</configuration>