<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<service>
		<startMode>manual</startMode>
	</service>
	<syncroEntities>
		<syncroEntity name="Bolle Aperte">
			<destinationFolder>C:\Program Files\MetodoXP\TDA\Feedbacks\Syncro</destinationFolder>
			<checkEvery>1</checkEvery>
			<fileName>WORKBILLS.all</fileName>
			<dataSource name="DEMO_TDA">
				<connectionString>driver={SQL Server};database=DEMO_XP;server=TRAVELW2K</connectionString>
				<userId>trm1</userId>
				<password>\^OY:!#[5X^S</password>
			</dataSource>
			<command>
				<type>query</type>
				<request>select RCO.ANNOBOLLA as WBILLYEAR,RCO.NUMEROBOLLA as WBILLNUMBER,(cast(RCO.ANNOBOLLA as varchar(4))+'/'+right('00000'+cast(RCO.NUMEROBOLLA as varchar(5)),5)) as WBILLREFERENCE,TPR.TIPOCOM+'/'+cast(TPR.ESERCIZIO as varchar)+'/'+right('00000'+cast(TPR.NUMEROCOM as varchar(5)),5)+'/'+RPR.CODICEORD+right('00000'+cast(RPR.IDRIGA as varchar),5) as ORDERREFERENCE,	(select DESCRIZIONE from TABELLAOPERAZIONI OPE where OPE.CODICE=RCO.OPERAZIONE) as OPERATION,	TCO.CODCICLO as PRODUCTCODE,(select DESCRIZIONE from ANAGRAFICAARTICOLI ART where ART.CODICE=TCO.CODCICLO) as PRODUCTDESCRIPTION,QTAPREVISTAFASE as QUANTITY,UMFASE as MEASUREUNIT from (((TESTACICLOORDINE TCO inner join RIGHECICLOORDINE RCO on RCO.PROGRESSIVO=TCO.PROGRESSIVO) inner join TESTEORDINIPROD TPR on TPR.PROGRESSIVO=TCO.IDTESTACOMM) inner join RIGHEORDPROD RPR on RPR.IDTESTA=TCO.IDTESTACOMM and RPR.IDRIGA=TCO.IDRIGACOMM) where RCO.STATOOPERAZIONE&lt;&gt;2</request>
				<parameters/>
			</command>
			<plugin>
				<type>ActiveXObject</type>
				<source>MXTdaSynPlugins.FlatDataSet</source>
			</plugin>
		</syncroEntity>
		<syncroEntity name="Dipendenti">
			<destinationFolder>C:\Program Files\MetodoXP\TDA\Feedbacks\Syncro</destinationFolder>
			<checkEvery>1</checkEvery>
			<fileName>OPERATORS.all</fileName>
			<dataSource name="">
				<connectionString>driver={SQL Server};database=DEMO_XP;server=TRAVELW2K</connectionString>
				<userId>trm1</userId>
				<password>\^OY:!#[5X^S</password>
			</dataSource>
			<command>
				<type>query</type>
				<request>select CODICE as UNIQUEID, NUMEROBADGE as BADGE, 	(COGNOME + ' ' + NOME) as FULLNAME from TABELLADIPENDENTI</request>
				<parameters/>
			</command>
			<plugin>
				<type>ActiveXObject</type>
				<source>MXTdaSynPlugins.FlatDataSet</source>
			</plugin>
		</syncroEntity>
	</syncroEntities>
</configuration>