<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<service>
		<startMode>manual</startMode>
	</service>
	<watchedFolders>
		<folder name="Acquizione da PC">
			<inputPath>C:\Program Files\MetodoXP\TDA\Feedbacks\PC</inputPath>
			<outputPath>C:\Program Files\MetodoXP\TDA\Feedbacks\Parsed</outputPath>
			<backupRules>
				<doBackup>yes</doBackup>
				<backupFolder>C:\Program Files\MetodoXP\TDA\Feedbacks\PC\Backup</backupFolder>
				<backupFileName>BKP%ORIGINALDATETIME%.%ORIGINALEXT%</backupFileName>
				<deleteOlderThan>15</deleteOlderThan>
			</backupRules>
		</folder>
		<folder name="Acquisizione da B31">
			<inputPath>C:\Program Files\MetodoXP\TDA\Feedbacks\B31</inputPath>
			<outputPath>C:\Program Files\MetodoXP\TDA\Feedbacks\Parsed</outputPath>
			<backupRules>
				<doBackup>yes</doBackup>
				<backupFolder>C:\Program Files\MetodoXP\TDA\Feedbacks\B31\Backup</backupFolder>
				<backupFileName>BKP_%COUNTER%.%ORIGINALEXT%</backupFileName>
				<deleteOlderThan>15</deleteOlderThan>
			</backupRules>
		</folder>
		<folder name="Acquisizione da PoketPC">
			<inputPath>C:\Program Files\MetodoXP\TDA\Feedbacks\PocketPC</inputPath>
			<outputPath>C:\Program Files\MetodoXP\TDA\Feedbacks\Parsed</outputPath>
			<backupRules>
				<doBackup>yes</doBackup>
				<backupFolder>C:\Program Files\MetodoXP\TDA\Feedbacks\PocketPC\Backup</backupFolder>
				<backupFileName>%TEMPNAME%</backupFileName>
				<deleteOlderThan>15</deleteOlderThan>
			</backupRules>
		</folder>
	</watchedFolders>
	<parsingRules>
		<rule name="Feedback da PC">
			<requiredMatch>all</requiredMatch>
			<plugins>
				<plugin cache="no">
					<name></name>
					<type>NoPlugin</type>
					<source></source>
					<onSuccess>gotonext</onSuccess>
					<onFail>exitwitherror</onFail>
					<parameters/>
				</plugin>
			</plugins>
			<parseSteps>
				<step name="Controlla Cartella">
					<target>foldername</target>
					<matchType>compare</matchType>
					<matchRule>C:\Program Files\MetodoXP\TDA\Feedbacks\PC</matchRule>
					<required>yes</required>
				</step>
				<step name="Controlla Nome File">
					<target>filename</target>
					<matchType>smartcompare</matchType>
					<matchRule>feedback_*.xml</matchRule>
					<required>yes</required>
				</step>
			</parseSteps>
		</rule>
		<rule name="Da Terminale Batch">
			<requiredMatch>all</requiredMatch>
			<plugins>
				<plugin cache="yes">
					<name>File Xml</name>
					<type>ActiveXObject</type>
					<source>MxTDATrasfPlugins.FlatFileToXmlPlugin</source>
					<onSuccess>gotonext</onSuccess>
					<onFail>exitwitherror</onFail>
					<parameters>
						<parameter name="DefinitionFile">C:\Program Files\MetodoXP\TDA\Feedbacks\B31Feedback.config</parameter>
					</parameters>
				</plugin>
				<plugin cache="no">
					<name>Leggi Dipendente</name>
					<type>VBScript</type>
					<source>C:\Program Files\MetodoXP\Agenti\TDA\CaricaDipendente.vbs</source>
					<onSuccess>gotonext</onSuccess>
					<onFail>exitwitherror</onFail>
					<parameters>
						<parameter name="connectionString">driver={SQL Server};database=DEMO_XP;server=TRAVELW2K;UID=trm1;PWD=terminale</parameter>
					</parameters>
				</plugin>
			</plugins>
			<parseSteps>
				<step name="Cartella">
					<target>foldername</target>
					<matchType>compare</matchType>
					<matchRule>C:\Program Files\MetodoXP\TDA\Feedbacks\B31</matchRule>
					<required>no</required>
				</step>
				<step name="Estensione">
					<target>fileexension</target>
					<matchType>compare</matchType>
					<matchRule>dat</matchRule>
					<required>no</required>
				</step>
			</parseSteps>
		</rule>
		<rule name="Feedback da PoketPC">
			<requiredMatch>all</requiredMatch>
			<plugins>
				<plugin cache="no">
					<name>FlatDataset2Xml</name>
					<type>ActiveXObject</type>
					<source>MxTDATrasfPlugins.FlatFileToXmlPlugin</source>
					<onSuccess>gotonext</onSuccess>
					<onFail>exitwitherror</onFail>
					<parameters>
						<parameter name="DefinitionFile">C:\Program Files\MetodoXP\TDA\Feedbacks\PocketFeedback.config</parameter>
					</parameters>
				</plugin>
				<plugin cache="no">
					<name>ConvertiQuantita</name>
					<type>VBScript</type>
					<source>C:\Program Files\MetodoXP\Agenti\TDA\FormatoQuantita.vbs</source>
					<onSuccess>gotonext</onSuccess>
					<onFail>gotonext</onFail>
					<parameters/>
				</plugin>
			</plugins>
			<parseSteps>
				<step name="Cartella">
					<target>foldername</target>
					<matchType>compare</matchType>
					<matchRule>C:\Program Files\MetodoXP\TDA\Feedbacks\PocketPC</matchRule>
					<required>no</required>
				</step>
				<step name="NomeFile">
					<target>filename</target>
					<matchType>smartcompare</matchType>
					<matchRule>FEEDBACKS_*.ALL</matchRule>
					<required>no</required>
				</step>
			</parseSteps>
		</rule>
	</parsingRules>
</configuration>