<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<service>
		<startMode>manual</startMode>
	</service>
	<dataSources>
		<dataSource name="DEMO_TDA">
			<connectionString>driver={SQL Server};database=DEMO_XP;server=TRAVELW2K</connectionString>
			<userId>trm1</userId>
			<password>PF3COK34-I&amp;O</password>
		</dataSource>
	</dataSources>
	<checkEvery>10</checkEvery>
</configuration>